body {
    margin: 0;
    padding: 0;

}

header {
    display: block;
    position: relative;
    max-width: 100%;
}

.banner-apropos{
    margin-top: 5vh;
}

.banner {
    /* background-image: url(../image/bg-masthead.jpg);*/
    background-color: #6B818C;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 60vh;
    margin-top: 5vh;
    padding: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

nav {
    background-color: rgba(59, 34, 34, 0.8);
}


footer {
    text-align: center;
    color: #DCDCDC;
    background-color: black;
    padding: 5vh;
}

.entreprise {
    text-align: center;
    color: rgb(28, 24, 41);
    font-size: 1rem;
    max-width: 90%;
}

.col-lg-6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

p, h4{
    font-family: 'Hind Madurai',
    sans-serif;
}

h1 , h3{
    font-family: 'Acme',
    sans-serif;
}


article {
    background-color: #eef0f1;
    padding: 5vh;
}

.bg-dark{
    padding: 8vh;
    height: auto;
    color: #DCDCDC;
    
}

.bg-color{
    padding: 8vh;
    height: auto;
    background-color: #eef0f1;
    color: black;
    
}

.titre-propose{
    display: flex;
    justify-content: center;
    margin-top: 15vh;
}

.partenaire {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.image-partenaire {
    display: flex;
    justify-content: space-around;
    align-content: center;

}

.img-partenaire {
    width: 250px;
    height: 100px;
    margin-top: 5vh;
}

.img-realisation{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.img-realisation img{
    margin-top: 3vh;
    width: 350px;
    height: 220px;
}

.img-entreprise {
    width: 500px;
    height: 300px;
}

.img-entreprise:hover {
    transform: scale(1.1);
}

.realisation {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    background-color: #f8f9fa;
    margin-top: 10vh;
}

.realisation .card:hover{
    transform: scale(1.1);
}

article{
    margin-top: 15vh;
}

.creation {
    width: 350px;
    height: 170px;
}

.card {
    margin: 5vh 5vh;
    background-color: #343a40;
    padding: 1vh;
    color: #eef0f1;
}

.bg-blanc{
    background-color: rgb(47, 153, 35);
    width: 50%;
    height: 5px;
}

.texte {
    display: flex;
    justify-content: center;
    padding: 5vh;
    margin-top: 5vh;
    background-color: #f8f9fa;
}

.bg{
    background-color: #DCDCDC;
    width: 1vh;
    height: 10vh;
}

.texte h6{
    margin-left: 30px;
}

.formulaire {
    margin-top: 10vh;
}

.espacevide {
    height: 20px;
}

.ligne {
    background-color: grey;
    height: 2px;
    max-width: 35%;
}

img {
    max-width: 100%;
}

.img-chalet:hover {
    transform: scale(1.1);
}

.fleche {
    color: white;
}

.logo {
    width: 230px;
    height: 60px;
}

.page{
    max-width: 100%;
    height: auto;
}

.blog .carousel-indicators {
    left: 0;
    top: auto;
    bottom: -40px;

}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
    background: #707070;
}

.suivant{
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.suivant a{
    padding: 2vh;
    text-decoration: none;
    margin-top: 5vh;
}

.suivant a:hover{
    
    box-shadow: 5px 5px 3px rgba(110, 94, 94, 0.8);
    padding: 2vh;
}

.margin-bottom{
    margin-bottom: 5vh;
}

.map-responsive {
    margin-top: 5vh;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}


@media screen and (min-width: 300px) and (max-width: 1200px) {
    .image-partenaire {
        margin-top: 5vh;
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
    }

    .bg {
        background-color: grey;
        width: 2vh;
        height: 15vh;
    }

    .bg-dark{
        padding: 5vh;
        height: auto;
        color: #DCDCDC;
        
    }
    
    .bg-color{
        padding: 5vh;
        height: auto;
        background-color: #eef0f1;
        color: black;
        
    }

    .img-entreprise {
        width: 350px;
        height: 200px;
    }

    .carousel-inner img{
        height: 200px;
    }

    .menu{
        display: flex;
        flex-direction: row;
    }

}